In [1]:
import pandas as pd
import requests

In [26]:
r=requests.get('https://api.data.gov/ed/collegescorecard/v1/schools?fields=school.name,id,2015.student.demographics.race_ethnicity.white,2015.student.demographics.race_ethnicity.black,2015.student.demographics.race_ethnicity.hispanic,2015.student.demographics.race_ethnicity.asian,2015.student.demographics.race_ethnicity.aian,2015.student.demographics.race_ethnicity.nhpi,2015.student.demographics.race_ethnicity.two_or_more,2015.student.demographics.race_ethnicity.non_resident_alien,2015.student.demographics.race_ethnicity.unknown,2015.student.demographics.race_ethnicity.white_non_hispanic,2015.student.demographics.race_ethnicity.black_non_hispanic,2015.student.demographics.race_ethnicity.asian_pacific_islander&sort=2015.completion.rate_suppressed.overall:desc&api_key=J5SxislQT7YJ1goKSbRtGuDenORTSx3FchOcrIPX')
r.status_code
results_list =r.json()

#results_list['metadata']
#for x in results_list: #['results']:
    #print (results_list[x])


df = pd.DataFrame(results_list['results']) #,  columns=results_list['metadata'])
df.head(5)
df.count()

2015.student.demographics.race_ethnicity.aian                      20
2015.student.demographics.race_ethnicity.asian                     20
2015.student.demographics.race_ethnicity.asian_pacific_islander     0
2015.student.demographics.race_ethnicity.black                     20
2015.student.demographics.race_ethnicity.black_non_hispanic         0
2015.student.demographics.race_ethnicity.hispanic                  20
2015.student.demographics.race_ethnicity.nhpi                      20
2015.student.demographics.race_ethnicity.non_resident_alien        20
2015.student.demographics.race_ethnicity.two_or_more               20
2015.student.demographics.race_ethnicity.unknown                   20
2015.student.demographics.race_ethnicity.white                     20
2015.student.demographics.race_ethnicity.white_non_hispanic         0
id                                                                 20
school.name                                                        20
dtype: int64

In [24]:
r=requests.get('https://api.data.gov/ed/collegescorecard/v1/schools?fields=school.name,id,2013.aid.median_debt.completers.overall,2013.repayment.1_yr_repayment.completers,2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings&page=100&api_key=J5SxislQT7YJ1goKSbRtGuDenORTSx3FchOcrIPX')
r.status_code
results_list =r.json()

#results_list['metadata']
#for x in results_list: #['results']:
    #print (results_list[x])


df = pd.DataFrame(results_list['results']) #,  columns=results_list['metadata'])
#df.head(5)
df.count()

2013.aid.median_debt.completers.overall                                17
2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings    20
2013.repayment.1_yr_repayment.completers                               17
id                                                                     20
school.name                                                            20
dtype: int64

In [25]:
r=requests.get('https://api.data.gov/ed/collegescorecard/v1/schools?id=164924&&api_key=J5SxislQT7YJ1goKSbRtGuDenORTSx3FchOcrIPX')
r.status_code
results_list =r.json()

#results_list['metadata']
#for x in results_list: #['results']:
    #print (results_list[x])


df = pd.DataFrame(results_list['results']) #,  columns=results_list['metadata'])
df.head(5)
#df.count()

,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2011,2012,2013,2014,2015,id,location,ope6_id,ope8_id,school
0,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,164924,"{'lon': -71.171488, 'lat': 42.337688}",2128,212800,"{'degrees_awarded': {'predominant': 3, 'highes..."

In [21]:
r=requests.get('https://api.data.gov/ed/collegescorecard/v1/schools?school.name=boston%20college&api_key=J5SxislQT7YJ1goKSbRtGuDenORTSx3FchOcrIPX')
r.status_code
results_list =r.json()

#results_list['metadata']
#for x in results_list: #['results']:
    #print (results_list[x])


df = pd.DataFrame(results_list['results']) #,  columns=results_list['metadata'])
#df.head(5)
df

,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2011,2012,2013,2014,2015,id,location,ope6_id,ope8_id,school
0,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,164924,"{'lon': -71.171488, 'lat': 42.337688}",2128,212800,"{'degrees_awarded': {'predominant': 3, 'highes..."
1,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,205522,"{'lon': -82.937763, 'lat': 38.751229}",20568,2056803,"{'degrees_awarded': {'predominant': 2, 'highes..."
2,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,164872,"{'lon': -71.085851, 'lat': 42.34867}",3966,396600,"{'degrees_awarded': {'predominant': 3, 'highes..."
3,NaN,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,429128,"{'lon': -71.064378, 'lat': 42.352944}",31305,3130500,"{'degrees_awarded': {'predominant': 2, 'highes..."
4,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,{'completion': {'completion_cohort_less_than_4...,164614,"{'lon': -71.1103, 'lat': 42.254037}",32483,3248300,"{'degrees_awarded': {'predominant': 3, 'highes..."
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,{'completion': {'completion_cohort_less_than_4...,487144,"{'lon': -71.076281, 'lat': 42.35069}",42076,4207601,"{'degrees_awarded': {'predominant': 1, 'highes..."

In [18]:
df.school[3]['name']

'Urban College of Boston'

In [22]:
r=requests.get('https://api.data.gov/ed/collegescorecard/v1/schools?school.name=boston%20college&api_key=J5SxislQT7YJ1goKSbRtGuDenORTSx3FchOcrIPX')
r.status_code
results_list =r.json()

#results_list['metadata']
#for x in results_list: #['results']:
    #print (results_list[x])


df = pd.DataFrame(results_list['results']) #,  columns=results_list['metadata'])
#df.head(5)
df
    
df.count()

1996        4
1997        5
1998        5
1999        5
2000        5
2001        5
2002        5
2003        5
2004        5
2005        5
2006        5
2007        5
2008        5
2009        5
2010        5
2011        5
2012        5
2013        5
2014        5
2015        6
id          6
location    6
ope6_id     6
ope8_id     6
school      6
dtype: int64

In [27]:
r=requests.get('https://api.data.gov/ed/collegescorecard/v1/schools?fields=school.name&api_key=J5SxislQT7YJ1goKSbRtGuDenORTSx3FchOcrIPX')
r.status_code
results_list =r.json()

#results_list['metadata']
#for x in results_list: #['results']:
    #print (results_list[x])


df = pd.DataFrame(results_list['results']) #,  columns=results_list['metadata'])
#df.head(5)
df
    
df.count()

school.name    20
dtype: int64